
body {
  font-family: "Lucida Console", Monaco, monospace;
}

.catalog {

}

.section {
page-break-after: always;
}

.page {
  page-break-after: always;
}

.cover {
  background-color: black;
  color: white;

}

.cover--title {
  font-size: 50px;
}

.cover--subtitle {
  font-size: 30px;
  font-style: italic;
}

.cover--edition {
  font-size: 25px;
}

.cover--img {
  width: 500px;
}

.toc {
  font-size: 25px;
}

.toc--headline {

}

.toc--list {
  width: 500px;
}

.toc--header {

}

.toc--subheader {

}


.use {
  font-size: 30px;
}
.use--headline {

}

.use--list {
  width: 400px;
}

.use--header {

}

.use--mission {
  width: 600px;
  border: 3px solid gray;
  padding: 5px;
  border-radius: 5px;
}

.use--img {
  width: 300px;
}


.use--mission {
  font-size: 30px;
}

.section--img {
  width: 250px;
  height: 250px;
  border: 1px dashed black;

}


.item--thing {
  /*width: 24%;*/
  /*height: 14%;*/
  /*border: 1px solid black;*/
  /*float: left !important;*/
  display: inline-block;
  /*margin: 5px;*/
  /*padding: 12px;*/
}

.item--img {
  /*width: 50%;*/
}


.hidden {
  display: none;
}

.img-border {
  border: 1px solid black;
}