
body {
  font-family: "Lucida Console", Monaco, monospace;
}


.page {
  width:70% !important;
    height:70% !important;
    border: 1px solid black;
    /*page-break-before:always;*/
  page-break-after: always;
}

.cover {
  background-color: black;
  color: white;
  width: 80%;
}

.cover--title {
  font-size: 30px;
  color: white;
}

.cover--subtitle {
  font-size: 25px;
  font-style: italic;
  color: white;
}

.cover--edition {
  font-size: 15px;
  color: white;
}

.cover--img {
  width: 80%;
}

.toc {
  font-size: 25px;
}

.toc--headline {

}

.toc--list {
  width: 500px;
}

.toc--header {

}

.toc--subheader {

}


.use {
  font-size: 18px;
}
.use--headline {

}

.use--list {
  width: 90%;
}

.use--header {

}

.use--mission {
  width: 90%;
  border: 3px solid gray;
  padding: 2px;
  border-radius: 25px;
}

.use--img {
  width: 100px;
}


.use--mission {
  font-size: 12px;
}

.section--img {
  width: 75px;
  height: 75px;
  border: 1px dashed black;

}


.item--thing {
  display: inline-block;
  page-break-inside: avoid;
  margin: 3px;
  padding: 3px;
}

.item--image {

}


.hidden {
  display: none;
}

.img-border {
  border: 1px solid black;
}