####################################################################
###################### main classes ################################
####################################################################
body {
  font-family: "Lucida Console", Monaco, monospace;
}

.catalog {

}

.section {

}

# how to make this take up the full page? or add border? hmm
.page {
  page-break-after:always;
}

.cover {
  background-color: black;
  color: white;

}

.cover--title {
  font-size: 75px;
}

.cover--subtitle {
  font-size: 50px;
  font-style: italic;
}

.cover--edition {
  font-size: 25px;
}

.cover--img {
  width: 100%;
}

.toc {
  font-size: 50px;
}

.toc--headline {

}

.toc--list {
  width: 66%;
}

.toc--header {

}

.toc--subheader {

}


.use {
  font-size: 30px;
}
.use--headline {

}

.use--list {
  width: 33%;
}

.use--header {

}

.use--mission {
  width: 25%;
  border: 3px solid gray;
  padding: 5px;
  border-radius: 5px;
}

.use--img {
  width: 500px;
}


.use--mission {

}

.section--img {
  width: 250px;
  height: 250px;
  border: 1px dashed black;

 /*float: left;*/
}

####################################################################
###################### item related classes ########################
####################################################################

.item {
  width: 24%;
  height: 14%;
  border: 1px solid black;
}

.item--img {
  width: 66%;
}


####################################################################
########################### utility classes ########################
####################################################################

.hidden {
  display: none;
}

.img-border {
  border: 1px solid black;
}